## Analisys Objective

* Q1. What is the overall sales trend?
* Q2. What is the Top 10 products by sales?
* Q3. What are the Most Selling Products?
* Q4. What is the preferred Shipping Mode?
* Q5. What are the Most Profitable Category and Sub-Category?

### Import required libraries

In [1]:
# data manipulation
import pandas as pd
import numpy as np

# install openpyxl

# data visualization
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

### Import the dataset

In [2]:
# NOTE read Excel files requires `openpyxl` as a dependency
# read dataset into a pandas dataframe
df = pd.read_excel("eds_superstore_sales.xlsx")

### Data audit and overview

In [ ]:
# let's see what the dataset looks like
df.head()

In [ ]:
df.tail()

In [ ]:
# what is the shape of our dataframe
df.shape

In [ ]:
# list the columns
df.columns

In [ ]:
# in what types the data is stored
df.dtypes

In [ ]:
# a concise summary of the above information
df.info()

As per the above result we can see that we don't have any missing values, so we can skip this step.

In [ ]:
# get small descriptive statistics of the dataset
df.describe()

### Data Cleaning

* Some of the columns are not critical to our analisys, so we're going to drop them.

In [3]:
df = df.drop(columns=["customer_name", "segment", "state", "country", "market", "region", "discount", "order_priority", "year"])

In [ ]:
df.head()

### Exploratory Data Analisys

##### 1) What is the overall sales trend?

In [ ]:
# first let's take a look at out `order_date` column
df["order_date"]

We can see that the records go from Jan 1st, 2011 up to Dec 31, 2014.<br />
And also the data is in the year-month-day format. Let's make it just year-month (enterprise standard format).

In [4]:
# to do that we gonna use the .apply() method with a lambda on the `order_date` column
# the year-month format is %Y-%m
df["order_date"] = df["order_date"].apply(lambda x: x.strftime("%Y-%m"))

In [ ]:
# the result is as follow
df["order_date"]

In [5]:
# okay so far so good, now we have to group the data by order date and sales quantity
df_sales_trend = df.groupby("order_date").sum()["sales"].reset_index()
df_sales_trend

   order_date         sales
0     2011-01   98898.48886
1     2011-02   91152.15698
2     2011-03  145729.36736
3     2011-04  116915.76418
4     2011-05  146747.83610
5     2011-06  215207.38022
6     2011-07  115510.41912
7     2011-08  207581.49122
8     2011-09  290214.45534
9     2011-10  199071.26404
10    2011-11  298496.53752
11    2011-12  333925.73460
12    2012-01  135780.72024
13    2012-02  100510.21698
14    2012-03  163076.77116
15    2012-04  161052.26952
16    2012-05  208364.89124
17    2012-06  256175.69842
18    2012-07  145236.78512
19    2012-08  303142.94238
20    2012-09  289389.16564
21    2012-10  252939.85020
22    2012-11  323512.41690
23    2012-12  338256.96660
24    2013-01  199185.90738
25    2013-02  167239.65040
26    2013-03  198594.03012
27    2013-04  177821.31684
28    2013-05  260498.56470
29    2013-06  396519.61190
30    2013-07  229928.95200
31    2013-08  326488.78936
32    2013-09  376619.24568
33    2013-10  293406.64288
34    2013-11  373989.36010
35    2013-12  405454.37802
36    2014-01  241268.55566
37    2014-02  184837.35556
38    2014-03  263100.77262
39    2014-04  242771.86130
40    2014-05  288401.04614
41    2014-06  401814.06310
42    2014-07  258705.68048
43    2014-08  456619.94236
44    2014-09  481157.24370
45    2014-10  422766.62916
46    2014-11  555279.02700
47    2014-12  503143.69348

Let's visualize this information

In [ ]:
# plt.style.use("seaborn")
plt.figure(figsize=(15, 6))
plt.grid("both")
plt.plot(df_sales_trend["order_date"], df_sales_trend["sales"])
plt.xlabel("Order Date in Months", labelpad=8)
plt.ylabel("Sales", labelpad=8)
plt.xticks(rotation="vertical")
plt.show()

- Observation: Order quantity tends to hit lower rates most often in February and July. In the other hand, by the end of the year rates are usually at their best. We can also observe huge leap in May-June period.

In [6]:
categories = set(df.category.values.tolist())
categories

{'Furniture', 'Office Supplies', 'Technology'}

##### 2) What is the top ten (10) products by sales?

In [ ]:
# let's the many different products in the dataset
df["product_name"]

In [7]:
# let's group by product name and sales
df_top_sales = pd.DataFrame(df.groupby(["product_name"]).sum()["sales"])

In [8]:
# let's sort it by sales in descending order
df_top_sales = df_top_sales.sort_values("sales", ascending=False)

In [9]:
df_top_sales.head(10)

                                                         sales
product_name
Apple Smart Phone, Full Size                        86935.7786
Cisco Smart Phone, Full Size                        76441.5306
Motorola Smart Phone, Full Size                     73156.3030
Nokia Smart Phone, Full Size                        71904.5555
Canon imageCLASS 2200 Advanced Copier               61599.8240
Hon Executive Leather Armchair, Adjustable          58193.4841
Office Star Executive Leather Armchair, Adjustable  50661.6840
Harbour Creations Executive Leather Armchair, A...  50121.5160
Samsung Smart Phone, Cordless                       48653.4600
Nokia Smart Phone, with Caller ID                   47877.7857

- Observation:

#### 3) What are the most selling products?

In [ ]:
# let's take a look at the quantity column
df["quantity"]

In [ ]:
# let's group by product name and quantity sold
df_most_selling = pd.DataFrame(df.groupby("product_name").sum()["quantity"])

In [ ]:
# now let's sort it out by quantity in descending order
df_most_selling = df_most_selling.sort_values("quantity", ascending=False)
df_most_selling[:10]    # top 10

- Obsevation:

#### 4) What is the preferred shipping mode?

In [ ]:
df

We can use `Counter` from the `collections` module for this task. Just to vary our game a little.

In [ ]:
from collections import Counter

In [ ]:
# let's take a look at the ship mode column
df["ship_mode"]

In [ ]:
# all different shipping methods
shipping_methods = set(df["ship_mode"].values.tolist())
shipping_methods

In [ ]:
# let's figure out which method is the most often used
count = Counter(df["ship_mode"].values.tolist())
most_used_ship = count.most_common()
most_used_ship

In [ ]:
# total products sold
total_orders = len(list(df["order_id"].values.tolist()))
total_orders

In [ ]:
# additionnally let's see the percentage share
percent_ship = round((most_used_ship[0][-1] / total_orders * 100), 2)
print(f"{percent_ship}%")

Or, even easier, we can use `seaborn` to both get the result and to visualize it.

In [ ]:
plt.figure(figsize=(10, 7))
plt.grid("y")
sns.countplot(df['ship_mode'])

- Observation: From this result, with 60.0%, we can see that most buyers use the "Standard Class" to ship their products.

#### 5) Which are the most profitable Category and Sub_Category?

In [10]:
# let's group by category and sub_category
df_catg_profit = pd.DataFrame(df.groupby(["category", "sub_category"]).sum()["profit"])

In [11]:
df_catg_profit = df_catg_profit.sort_values(["category", "profit"], ascending=False)
df_catg_profit

                                    profit
category        sub_category
Technology      Copiers       258567.54818
                Phones        216717.00580
                Accessories   129626.30620
                Machines       58867.87300
Office Supplies Appliances    141680.58940
                Storage       108461.48980
                Binders        72449.84600
                Paper          59207.68270
                Art            57953.91090
                Envelopes      29601.11630
                Supplies       22583.26310
                Labels         15010.51200
                Fasteners      11525.42410
Furniture       Bookcases     161924.41950
                Chairs        141973.79750
                Furnishings    46967.42550
                Tables        -64083.38870