> ### NOTEBOOK OBJECTIVE<br>
- Create a dataset of the sales records of the (not so) ficticious store `ROKO Shopping` for the year 2020.<br>

General steps:<br>
- Populate dataset with necessary features (columns) and data
- Clean, accomodate and put data toghether
- Save and export dataset

<hr>

#### Import Required Libraries

In [1]:
import pandas as pd
import numpy as np
import requests
import json
from datetime import datetime, timedelta
import random
import calendar
import re
import uuid
from faker import Faker

### Step 1. Populate dataset with necessary features

Sub-steps:
1) Define main DF features
2) Retrieve products from different files and create a DF for each
3) Concatenate the created DFs

- Define main DF features<br>
[ADD A SUB_CATEGORY COLUMN]

In [2]:
features = ["Purchase ID", "Purchase Datetime", 
            "Product ID", "Category", "Sub Category", 
            "Product Name", "Unit Price", "Quantity", 
            "Sales", "Payment Method", "Online", 
            "Shipping Address", "Shipping Method", "Product URL"]
df = pd.DataFrame(columns=features)

In [3]:
df

Empty DataFrame
Columns: [Purchase ID, Purchase Datetime, Product ID, Category, Sub Category, Product Name, Unit Price, Quantity, Sales, Payment Method, Online, Shipping Address, Shipping Method, Product URL]
Index: []

- Retrieve products data from different files and create a DF for each

Products come from these files:<br>
- /home/rohkoder29/Documents/year2022/python/data_science/mines/amzon_mobile_items_20190928.csv
- /home/rohkoder29/Documents/year2022/python/data_science/kaggle/marketing_sample_for_amazon_com-ecommerce__20200101_20200131__10k_data.csv
- /home/rohkoder29/Documents/year2022/python/data_science/cif_sales_analysis/data/data.xlsx

*File 1*

In [4]:
file1 = "/home/rohkoder29/Documents/year2022/python/data_science/mines/amzon_mobile_items_20190928.csv"
# load only relevant columns
cols = ["brand", "title", "prices", "url"]
df1 = pd.read_csv(file1, index_col=False, usecols=cols, skipinitialspace=True)

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   brand   792 non-null    object
 1   title   792 non-null    object
 2   url     792 non-null    object
 3   prices  577 non-null    object
dtypes: object(4)
memory usage: 24.9+ KB

In [6]:
df1.head()

,brand,title,url,prices
0,Nokia,Dual-Band / Tri-Mode Sprint PCS Phone w/ Voice...,https://www.amazon.com/Dual-Band-Tri-Mode-Acti...,NaN
1,Motorola,Motorola I265 phone,https://www.amazon.com/Motorola-i265-I265-phon...,$49.95
2,Motorola,MOTOROLA C168i AT&T CINGULAR PREPAID GOPHONE C...,https://www.amazon.com/MOTOROLA-C168i-CINGULAR...,NaN
3,Nokia,Nokia 6500 Slide Black/silver Unlocked Cell Phone,https://www.amazon.com/Nokia-6500-Slide-silver...,NaN
4,Motorola,Motorola i335 Cell Phone Boost Mobile,https://www.amazon.com/Motorola-i335-Phone-Boo...,NaN

Drop rows where price is missing

In [7]:
df1 = df1[df1["prices"].notna()]

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 577 entries, 1 to 791
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   brand   577 non-null    object
 1   title   577 non-null    object
 2   url     577 non-null    object
 3   prices  577 non-null    object
dtypes: object(4)
memory usage: 22.5+ KB

In [9]:
df1.tail()

,brand,title,url,prices
787,Apple,"Apple iPhone XS, 512GB, Gold - For Verizon (Re...",https://www.amazon.com/Apple-iPhone-XS-512GB-G...,"$999.95,$1,349.99"
788,Samsung,"Samsung Galaxy A50 128GB, 4GB RAM 6.4"" Display...",https://www.amazon.com/Samsung-A50-Display-Fac...,$304.99
789,Samsung,"Samsung Galaxy S9 (64GB, 4GB RAM) 5.8"" QHD+ Di...",https://www.amazon.com/Samsung-Galaxy-S9-Displ...,$519.99
790,Motorola,"Motorola Moto G7 Play (32GB, 2GB RAM) 5.7"" HD+...",https://www.amazon.com/Motorola-Vision-Display...,$139.99
791,HUAWEI,"Honor 5X Unlocked Smartphone, 16GB Dark Grey (...",https://www.amazon.com/Honor-Unlocked-Smartpho...,$74.99

I've noticed that prices are stored as strings and some rows contain 2 prices. I'm gonna fix that.

In [10]:
def fix_two_prices(price):
    price = price.split(",")
    return max(price[0], price[1]) if len(price) > 1 else price[0]

In [11]:
df1["prices"] = df1["prices"].apply(lambda x: fix_two_prices(x))

Also change the type from Object to Float

In [12]:
df1["prices"] = df1["prices"].apply(lambda x: float(x[1:]))

In [13]:
# verify
df1["prices"].unique()

array([ 49.95,  78.99,  99.99,  59.89,  99.95, 149.95,  79.  ,  79.99,
        59.95,  59.99, 109.99, 118.8 , 189.95,  89.  , 389.28, 181.49,
       168.96, 164.92,  99.  ,  84.94, 230.59, 183.44, 165.59, 239.  ,
       209.65, 159.01, 142.99, 133.99, 169.  , 339.99, 494.99,  89.95,
       239.99, 219.99, 157.99, 214.5 , 159.99, 199.99,  28.69, 169.93,
       256.57, 249.99, 229.99, 339.47, 158.  , 199.  ,  80.  , 125.55,
       169.99, 153.  ,  79.95, 159.95, 149.99, 516.43, 159.  , 155.99,
       198.94, 104.  , 154.95, 119.  , 139.98, 151.99, 139.99, 129.99,
       130.  , 109.5 ,  78.74, 279.99, 110.95, 323.98, 112.95, 671.46,
       319.99, 138.  , 659.99, 145.  ,  95.  , 142.14, 299.99,  54.99,
       165.42, 138.99, 149.  ,  69.49,  94.99, 114.99, 259.98, 355.99,
       135.98, 139.89, 279.  , 140.55, 161.99, 219.53, 114.4 , 123.99,
       185.49, 135.55, 329.99, 179.99, 169.95, 269.99, 227.99, 217.99,
       145.99, 208.95,  88.95, 189.  , 240.  , 199.95, 144.  , 191.98,
       399.99, 132.99, 124.55, 200.  ,  69.95, 168.99, 128.95, 212.  ,
       449.99, 194.95, 195.54, 207.95, 167.95,  72.97, 130.95,  84.95,
       122.5 , 389.95, 104.96, 102.97, 144.95, 150.95, 298.69, 136.  ,
       101.  , 271.84, 389.99, 324.99, 339.  , 184.83, 259.99, 499.99,
       409.  , 589.99, 910.37, 234.95, 219.95, 667.16, 127.94, 174.  ,
       155.  , 134.98, 179.  , 107.7 , 139.  , 294.95, 290.  ,  48.  ,
       477.95, 198.98, 212.99, 152.  , 112.36, 188.95, 215.  , 264.95,
       270.95, 759.99, 175.  , 199.98, 289.95, 189.99, 124.41, 899.99,
       125.95, 259.  ,  49.99,  59.  , 164.99, 454.99, 373.99, 393.99,
       679.  ,  69.99, 440.95, 263.  , 289.  , 255.  , 107.55, 309.1 ,
       108.99, 479.99, 549.99, 373.5 , 689.99, 465.  ,  24.5 , 349.  ,
       334.55, 195.  , 421.98, 536.58, 339.87, 369.99, 292.  , 299.  ,
       249.  , 150.  , 213.3 ,  32.95, 243.3 , 359.  , 499.  , 269.  ,
       599.99, 187.  , 414.99, 258.71, 289.99, 248.99, 249.98, 270.7 ,
       237.38, 349.99, 247.99, 260.  , 274.99, 229.  , 269.95, 250.  ,
       119.99, 436.  , 459.  , 477.5 , 174.99, 449.94, 692.14, 699.99,
       321.99, 316.99, 348.35, 300.  , 209.99, 364.85, 359.47, 328.99,
       449.  , 268.07,  22.99, 557.99,  83.99, 191.43, 454.49, 195.95,
       105.  , 288.99, 299.95, 520.22, 109.95, 146.48, 239.95, 312.94,
       304.95,  84.99, 129.95, 139.95, 332.99, 231.99,  96.54, 267.71,
       198.99, 210.99, 160.  , 159.72, 124.99, 549.95, 152.49, 135.  ,
       153.49, 849.99, 129.  , 165.55,  87.98, 284.95, 326.89, 134.  ,
        92.  , 360.85, 874.18, 314.99, 451.49,  98.95, 172.49, 390.  ,
       425.  , 125.99, 440.42, 330.99, 469.9 , 121.99,  23.99, 777.43,
       199.96, 192.49, 400.  , 349.95, 592.85, 540.  ,  87.59, 899.  ,
       247.2 , 284.  , 789.  , 340.  , 944.99,   0.  , 664.95, 452.92,
       349.17, 250.94, 328.  , 379.99, 172.44, 285.  , 419.99,  88.98,
       119.96, 137.99, 494.95,  77.  , 429.99, 699.  , 110.  , 364.9 ,
       254.99, 550.95, 519.  , 207.99, 242.  , 229.27, 192.99, 419.95,
       547.49, 815.  , 344.45, 535.  ,  68.  , 695.  , 749.99, 579.99,
       799.  , 949.99, 629.95,  70.99, 170.  , 327.95, 300.96, 182.  ,
       809.99, 190.  , 205.  , 519.95, 675.95, 189.75, 103.74, 534.  ,
       405.  , 179.64, 150.88, 188.18, 203.07, 131.9 , 384.  , 413.9 ,
       829.  , 346.7 , 309.99, 310.  , 128.  , 132.98, 344.5 , 128.99,
       498.43, 143.99, 163.95, 399.  , 480.99, 479.79, 188.99, 187.72,
       211.96, 999.95, 304.99, 519.99,  74.99])

In [14]:
df1.head(10)

,brand,title,url,prices
1,Motorola,Motorola I265 phone,https://www.amazon.com/Motorola-i265-I265-phon...,49.95
6,Sony,Sony Ericsson G700 Triband GSM Phone Bronze (U...,https://www.amazon.com/Sony-Ericsson-Triband-B...,78.99
8,Nokia,Nokia New 1100 for Tracfone,https://www.amazon.com/New-Nokia-1100-for-Trac...,99.99
9,Samsung,Samsung T301G Prepaid Phone (Tracfone),https://www.amazon.com/Samsung-T301G-Prepaid-P...,59.89
10,Motorola,Motorola I205 cell phone nextel/Boost,https://www.amazon.com/Motorola-I205-phone-nex...,99.95
11,Samsung,Samsung a167 Prepaid GoPhone (AT&T),https://www.amazon.com/Samsung-a167-Prepaid-Go...,149.95
16,Motorola,Motorola i570 Nextel iDen PTT rugged black cel...,https://www.amazon.com/Motorola-i570-Nextel-ru...,79.00
19,Samsung,Samsung R355C Net 10 Unlimited,https://www.amazon.com/Samsung-R355C-Net-10-Un...,79.99
24,Motorola,Motorola Clutch i475 Prepaid Phone (Boost Mobile),https://www.amazon.com/Motorola-Clutch-i475-Pr...,59.95
26,HUAWEI,Huawei Pinnacle Prepaid Phone (MetroPCS),https://www.amazon.com/Huawei-Pinnacle-Prepaid...,59.99

Consider only products within a certain price tag

In [15]:
df1 = df1.loc[df1["prices"] >= 300.00]

In [16]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 161 entries, 40 to 789
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   brand   161 non-null    object
 1   title   161 non-null    object
 2   url     161 non-null    object
 3   prices  161 non-null    float64
dtypes: float64(1), object(3)
memory usage: 6.3+ KB

In [17]:
df1["title"].unique()[:50]

array(['Samsung Galaxy Express, Gray 8GB (AT&T)',
       'Samsung Galaxy Alpha, Charcoal Black 32GB (AT&T)',
       'Samsung Galaxy Mega 2, Brown Black 16GB (AT&T)',
       'Samsung Galaxy S6 Edge G925F 32GB Unlocked Phone - Retail Packaging - Black Sapphire',
       'Samsung Galaxy S6 Active, 32 GB , Grey (AT&T)',
       'Samsung Galaxy S7 Edge SM-G935F 32GB (GSM Only, No CDMA) Factory Unlocked 4G/LTE Single SIM Smartphone (Black Onyx)',
       'Samsung Galaxy GS7 Edge, Gold 32GB (Verizon Wireless)',
       'Samsung Galaxy S7 G930F 32GB Factory Unlocked GSM Smartphone - International Version - Titanium Silver',
       'Apple iPhone 6S, GSM Unlocked, 64GB - Rose Gold (Renewed)',
       'Samsung Galaxy S7 Edge unlocked smartphone, 32 GB Silver (US Warranty - Model SM-G935UZSAXAA)',
       'Samsung Galaxy S7 SM-G930F 32GB Factory Unlocked GSM 4G LTE Single Sim Smartphone (Black)',
       'Apple iPhone SE, 64GB, Gold - For AT&T / T-Mobile (Renewed)',
       'Google Pixel XL (128GB, 4GB RAM) 5.5" AMOLED HD Display, Global 4G LTE, US Factory Unlocked Model (GSM, Verizon, Sprint) - Very Silver',
       'Apple iPhone 7 Plus, 32GB, Rose Gold - For AT&T / T-Mobile (Renewed)',
       'Apple iPhone 7, 128GB, Gold - For AT&T / T-Mobile (Renewed)',
       'Apple iPhone 7 Plus 128GB Unlocked GSM 4G LTE Quad-Core Smartphone w/ Dual 12MP Camera - Black (Renewed)',
       'Apple iPhone 7 Plus 256GB Unlocked GSM Quad-Core Phone - Black (Renewed)',
       'Apple iPhone 7 Plus 32GB Unlocked GSM Phone - Rose Gold (Renewed)',
       'Apple iPhone 7 Plus 32GB Unlocked GSM 4G LTE Quad-Core Smartphone - Black (Renewed)',
       'Samsung Galaxy S8 64GB Factory Unlocked Smartphone - US Version (Midnight Black) - US Warranty - [SM-G950UZKAXAA]',
       'Samsung Galaxy S8 64GB Unlocked Phone - US Version (Orchid Gray)',
       'Samsung Galaxy S8+ 64GB Unlocked Phone - 6.2" Screen - International Version (Coral Blue)',
       'Samsung Galaxy S8+ 64GB Factory Unlocked Smartphone - 6.2" Screen - US Version (Midnight Black) - US Warranty [SM-G955UZKAXAA]',
       'Samsung Galaxy S8 G950U 64GB AT&T GSM Unlocked Phone - Orchid Grey',
       'Sony Xperia XZ Premium - Unlocked Smartphone - 5.5", 64GB - Dual SIM - Pink (US Warranty)',
       'Apple iPad Mini 4 64gb Space Gray (Renewed)',
       'Samsung Galaxy S8 64GB SM-G950U Orchid Gray - Sprint (Renewed)',
       'Total Wireless Samsung Galaxy S8+ 4G LTE Prepaid Smartphone',
       'Sony Xperia XZ1 Factory Unlocked Phone - 5.2" Full HD HDR Display - 64GB - Warm Silver (U.S. Warranty)',
       'Samsung Galaxy Note8 N950U 64GB Unlocked GSM LTE Android Phone w/ Dual 12 Megapixel Camera - Midnight Black',
       'Apple iPhone 7 Plus, GSM Unlocked, 256GB - (Renewed)',
       'Samsung Galaxy S8+ G955U 64GB Unlocked GSM U.S. Version Smartphone w/ 12MP Camera - Orchid Gray',
       'Google Pixel 2 64GB Unlocked GSM/CDMA 4G LTE Octa-Core Phone w/ 12.2MP Camera - Just Black',
       'Google Pixel 2 128GB Unlocked GSM/CDMA 4G LTE Octa-Core Phone w/ 12.2MP Camera - Just Black',
       'Google Pixel 2 XL 128GB Unlocked GSM/CDMA 4G LTE Octa-Core Phone w/ 12.2MP Camera - Just Black',
       'Samsung Galaxy Note 8 SM-N950U 64GB Midnight Black AT&T',
       'Samsung Galaxy Note 8 N950 Factory Unlocked Phone 64GB Midnight Black (Renewed)',
       'Apple iPhone 8 Plus, GSM Unlocked, 64GB - Gold (Renewed)',
       'Apple iPhone 8, GSM Unlocked, 256GB - Space Gray (Renewed)',
       'Apple iPhone 8, GSM Unlocked, 64GB - Gold (Renewed)',
       'Apple iPhone 8, 64GB, Space Gray - for AT&T/T-Mobile (Renewed)',
       'Apple iPhone X, 256GB, Space Gray - For AT&T/T-Mobile (Renewed)',
       'Apple iPhone 8 4.7", 256 GB, Fully Unlocked, Space Gray (Renewed)',
       'Apple iPhone 8 Plus, GSM Unlocked, 64GB - Space Gray (Refurbished)',
       'Samsung Galaxy Note 8 SM-N950U 64GB Orchid Gray T-Mobile - Renewed',
       'Samsung Galaxy Note 8 SM-N950U 64GB Midnight Black AT&T Unlocked - Renewed',
       'Samsung Galaxy Note 8 N950U 64GB - Sprint (Midnight Black)',
       'Google Pixel 2 XL 64GB Unlocked GSM/CDMA 4G LTE Octa-Core Phone w/ 12.2MP Camera - Just Black',
       'Apple iPhone 7 256GB Unlocked GSM 4G LTE Quad-Core Smartphone - Jet Black (Renewed)',
       'Google Pixel 2 XL Unlocked (GSM Only, No CDMA) - US warranty (Black & White, 64GB)'],
      dtype=object)

Maybe we should remove the (Renewed), (Refurbished)... from the items names

In [18]:
def clean_item_name(item: str) -> str:
    return item.split(" (")[0]

In [19]:
df1["title"] = df1["title"].apply(lambda x: clean_item_name(x))

Shorten all the URLs [using API]

In [20]:
endpoint = "https://api.shrtco.de/v2/shorten?url="
def shorten_url(url: str) -> str:
    response = requests.get(f"{endpoint}{url}").text
    if "result" in json.loads(response):
        return json.loads(response)["result"]["short_link2"]
    else:
        return "NA"

In [21]:
# df1["url"] = df1["url"].apply(lambda x: shorten_url(x))

In [22]:
df1.tail()

,brand,title,url,prices
781,Samsung,Samsung Galaxy A80 SM-A805F/DS Dual Sim,https://www.amazon.com/Samsung-A80-SM-A805F-Fa...,479.79
786,Samsung,Samsung Galaxy A50 US Version Factory Unlocked...,https://www.amazon.com/Samsung-Unlocked-SM-A50...,349.99
787,Apple,"Apple iPhone XS, 512GB, Gold - For Verizon",https://www.amazon.com/Apple-iPhone-XS-512GB-G...,999.95
788,Samsung,"Samsung Galaxy A50 128GB, 4GB RAM 6.4"" Display...",https://www.amazon.com/Samsung-A50-Display-Fac...,304.99
789,Samsung,Samsung Galaxy S9,https://www.amazon.com/Samsung-Galaxy-S9-Displ...,519.99

In [23]:
df1.reset_index(drop=True, inplace=True)

*File 2*

In [24]:
file2 = "/home/rohkoder29/Documents/year2022/python/data_science/kaggle/marketing_sample_for_amazon_com-ecommerce__20200101_20200131__10k_data.csv"
# load only relevant columns
cols = ["Product Name", "Category", "Selling Price", "Product Url"]
df2 = pd.read_csv(file2, index_col=False, skipinitialspace=True, usecols=cols)

In [25]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10002 entries, 0 to 10001
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product Name   10002 non-null  object
 1   Category       9172 non-null   object
 2   Selling Price  9895 non-null   object
 3   Product Url    10002 non-null  object
dtypes: object(4)
memory usage: 312.7+ KB

Drop rows where Category or Price is missing

In [26]:
df2 = df2.loc[df2["Category"].notna()]
df2 = df2.loc[df2["Selling Price"].notna()]

In [27]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9066 entries, 0 to 10001
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product Name   9066 non-null   object
 1   Category       9066 non-null   object
 2   Selling Price  9066 non-null   object
 3   Product Url    9066 non-null   object
dtypes: object(4)
memory usage: 354.1+ KB

In [28]:
df2.head()

,Product Name,Category,Selling Price,Product Url
0,"DB Longboards CoreFlex Crossbow 41"" Bamboo Fib...",Sports & Outdoors | Outdoor Recreation | Skate...,$237.68,https://www.amazon.com/DB-Longboards-CoreFlex-...
1,"Electronic Snap Circuits Mini Kits Classpack, ...",Toys & Games | Learning & Education | Science ...,$99.95,https://www.amazon.com/Electronic-Circuits-Cla...
2,3Doodler Create Flexy 3D Printing Filament Ref...,Toys & Games | Arts & Crafts | Craft Kits,$34.99,https://www.amazon.com/3Doodler-Plastic-Innova...
3,Guillow Airplane Design Studio with Travel Cas...,Toys & Games | Hobbies | Models & Model Kits |...,$28.91,https://www.amazon.com/Guillow-Airplane-Design...
4,Woodstock- Collage 500 pc Puzzle,Toys & Games | Puzzles | Jigsaw Puzzles,$17.49,https://www.amazon.com/Woodstock-Collage-500-p...

Let's filter out...

We gonna keep products whitin only certain categories and sub-categories

Create a new Sub-Category feature

In [29]:
df2["Sub-Category"] = df2["Category"].apply(lambda x: x.split(" | ")[1])

Category feature has only the main categories

In [30]:
df2["Category"] = df2["Category"].apply(lambda x: x.split(" | ")[0])

In [31]:
df2.head()

,Product Name,Category,Selling Price,Product Url,Sub-Category
0,"DB Longboards CoreFlex Crossbow 41"" Bamboo Fib...",Sports & Outdoors,$237.68,https://www.amazon.com/DB-Longboards-CoreFlex-...,Outdoor Recreation
1,"Electronic Snap Circuits Mini Kits Classpack, ...",Toys & Games,$99.95,https://www.amazon.com/Electronic-Circuits-Cla...,Learning & Education
2,3Doodler Create Flexy 3D Printing Filament Ref...,Toys & Games,$34.99,https://www.amazon.com/3Doodler-Plastic-Innova...,Arts & Crafts
3,Guillow Airplane Design Studio with Travel Cas...,Toys & Games,$28.91,https://www.amazon.com/Guillow-Airplane-Design...,Hobbies
4,Woodstock- Collage 500 pc Puzzle,Toys & Games,$17.49,https://www.amazon.com/Woodstock-Collage-500-p...,Puzzles

In [32]:
df2["Category"].unique()

array(['Sports & Outdoors', 'Toys & Games', 'Clothing, Shoes & Jewelry',
       'Home & Kitchen', 'Baby Products', 'Pet Supplies',
       'Arts, Crafts & Sewing', 'Electronics', 'Video Games',
       'Patio, Lawn & Garden', 'Tools & Home Improvement',
       'Office Products', 'Grocery & Gourmet Food',
       'Remote & App Controlled Vehicle Parts', 'Health & Household',
       'Industrial & Scientific', 'Beauty & Personal Care', 'Hobbies',
       'Remote & App Controlled Vehicles & Parts', 'Automotive',
       'Musical Instruments', 'Movies & TV', 'Cell Phones & Accessories'],
      dtype=object)

In [33]:
df2["Sub-Category"].unique()

array(['Outdoor Recreation', 'Learning & Education', 'Arts & Crafts',
       'Hobbies', 'Puzzles', 'Costumes & Accessories', 'Home Décor',
       'Baby & Toddler Toys', 'Collectible Toys', 'Nursery',
       'Building Toys', 'Furniture', 'Novelty & Gag Toys',
       'Sports & Outdoor Play', 'Party Supplies',
       'Tricycles, Scooters & Wagons', "Kids' Electronics",
       'Sports & Fitness', 'Dress Up & Pretend Play', 'Bedding',
       'Toy Figures & Playsets', 'Play Vehicles', 'Dolls & Accessories',
       'Games & Accessories', 'Dogs', 'Novelty & More', 'Men',
       'Stuffed Animals & Plush Toys', 'Fan Shop', 'Crafting',
       'Camera & Photo', 'Beading & Jewelry Making', 'PlayStation 4',
       'Baby Care', 'Outdoor Décor', 'Power & Hand Tools',
       'Painting, Drawing & Art Supplies', 'Lighting & Ceiling Fans',
       'Office & School Supplies', 'Activity & Entertainment',
       'Nintendo Switch', 'Luggage & Travel Gear',
       "Kids' Furniture, Décor & Storage", 'Strollers & Accessories',
       'Pantry Staples', 'Kitchen & Dining', 'Legacy Systems',
       'Puppets & Puppet Theaters', 'Sewing',
       'Power Plant & Driveline Systems', 'Household Supplies',
       'Fasteners', 'Foot, Hand & Nail Care', "Kids' Home Store",
       'Remote & App Controlled Vehicles & Parts', 'Printmaking',
       'Pools, Hot Tubs & Supplies', 'Women',
       'Remote & App Controlled Vehicle Parts', 'Event & Party Supplies',
       'Interior Accessories', 'Feeding', 'Office Electronics',
       'Medical Supplies & Equipment', 'PC', 'Computers & Accessories',
       'Science Education', 'Hardware', 'Girls', 'Boys',
       'Paint, Wall Treatments & Supplies', 'Storage & Organization',
       'Exterior Accessories', 'Wall Art',
       'Patio Furniture & Accessories', 'Microphones & Accessories',
       'Gardening & Lawn Care', 'Professional Medical Supplies',
       'Power Transmission Products', 'Headphones', 'Seasonal Décor',
       'Electrical', 'Scrapbooking & Stamping',
       'Lab & Scientific Products', 'Replacement Parts', 'Makeup',
       'Tools & Accessories', 'Industrial Electrical',
       'Pet Supplies Markdowns', 'Top Selection from AmazonPets',
       'Needlework', 'Portable Audio & Video',
       'Adhesives, Sealants & Lubricants', 'Gifts', 'Hair Care',
       'Blu-ray', 'Cats', 'Birds', 'Drums & Percussion', 'Potty Training',
       'Skin Care', 'Stationery & Gift Wrapping Supplies', 'Xbox One',
       'Fabric', 'Personal Care', 'Shoe, Jewelry & Watch Accessories',
       'Accessories'], dtype=object)

In [34]:
df2 = df2.loc[(df2["Category"].str.contains("electronics|office|accessories|^video games",
                                     regex=True, flags=re.I)) |
        (df2["Sub-Category"].str.contains("learning|education|^accessories|games|tools|^kids",
                                     regex=True, flags=re.I))]

In [35]:
df2.head()

,Product Name,Category,Selling Price,Product Url,Sub-Category
1,"Electronic Snap Circuits Mini Kits Classpack, ...",Toys & Games,$99.95,https://www.amazon.com/Electronic-Circuits-Cla...,Learning & Education
16,"The Complete Common Core: State Standards Kit,...",Toys & Games,$12.88,https://www.amazon.com/Complete-Common-Core-St...,Learning & Education
26,NKOK Sonic and Sega All Stars Racing Remote Co...,Toys & Games,$26.99,https://www.amazon.com/NKOK-Sonic-Racing-Remot...,Kids' Electronics
42,Random Esoteric Creature Generator for Classic...,Toys & Games,$19.94,https://www.amazon.com/Esoteric-Creature-Gener...,Games & Accessories
48,Melissa & Doug Disney Cinderella Rags to Riche...,Toys & Games,$11.12,https://www.amazon.com/Melissa-Doug-Disney-Cin...,Learning & Education

In [36]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1269 entries, 1 to 9999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product Name   1269 non-null   object
 1   Category       1269 non-null   object
 2   Selling Price  1269 non-null   object
 3   Product Url    1269 non-null   object
 4   Sub-Category   1269 non-null   object
dtypes: object(5)
memory usage: 59.5+ KB

+ Convert Price to float

In [37]:
df2["Selling Price"].unique()

array(['$99.95', '$12.88', '$26.99', '$19.94', '$11.12', '$7.99', '$6.11',
       '$38.33', '$16.43', '$14.01', '$10.99', '$186.06', '$8.53',
       '$38.55', '$6.47', '$107.86', '$12.50', '$36.91', '$11.24',
       '$10.94',
       '$ 19 99 $39.95 #listPriceLegalMessageText { margin-left: 4px !important; } #listPriceLegalMessage .a-popover-trigger:hover { text-decoration: none !important; } #listPriceLegalMessage .a-icon-popover { display: none !important; margin-left: 0px !important; margin-top: 6px !important; } Save $19.96 (50%)',
       '$4.99', '$9.99', '$14.99', '$6.96', '$9.95', '$12.47', '$8.29',
       '$17.40', '$6.63', '$9.96', '$6.69', '$12.64', '$25.39', '$32.84',
       '$35.00', '$8.91', '$143.99', '$10.44 $ 10 . 44', '$52.44',
       '$19.99', '$3.49', '$20.18', '$89.95', '$89.99', '$24.99',
       '$16.78', '$39.99', '$15.51', '$10.62', '$15.20', '$81.54',
       '$12.91', '$17.63', '$14.90', '$34.95', '$65.89', '$43.00',
       '$3.07', '$24.49', '$18.99', '$17.49', '$29.95', '$23.96',
       '$12.49', '$8.52', '$53.95', '$17.99', '$26.63', '$11.99',
       '$92.88', '$74.80', '$7.08', '$5.13', '$10.29', '$6.99', '$7.49',
       '$7.69', '$13.17', '$14.20', '$12.99', '$20.30', '$17.94',
       '$15.50', '$14.95', '$12.40', '$9.77', '$5.90', '$52.69', '$9.09',
       '$17.79', '$41.56', '$21.45', '$47.99', '$69.77', '$21.96',
       '$21.99', '$15.97', '$44.95', '$45.00', '$17.77', '$17.76',
       '$76.99', '$25.29', '$35.95', '$255.86', '$31.32', '$19.95',
       '$16.70', '$23.07', '$21.92', '$23.99', '$7.43', '$35.74',
       '$14.88', '$34.91', '$16.14', '$5.95', '$11.74', '$13.77', '$6.94',
       '$25.00', '$19.25', '$15.98', '$19.96', '$5.43', '$33.40',
       '$13.99', '$17.89', '$24.62', '$36.95', '$13.94', '$233.54',
       '$95.16', '$20.07', '$17.98', '$8.94', '$14.79', '$38.99', '$6.88',
       '$15.99', '$9.98', '$13.96', '$12.54', '$19.81', '$36.87',
       '$33.10', '$13.49', '$14.58', '$42.85', '$13.98', '$20.22',
       '$19.29', '$10.50', '$6.29', '$1,734.00', '$24.69', '$7.90',
       '$5.80', '$15.66', '$21.41', '$83.66', '$5.99', '$29.26', '$18.74',
       '$11.16', '$4.90', '$99.50', '$23.98', '$39.89', '$14.43',
       '$43.91', '$21.50', '$9.02', '$15.31', '$41.74', '$10.65',
       '$12.33', '$33.18', '$16.99', '$13.20', '$30.10', '$31.62',
       '$26.19', '$8.56', '$20.45', '$15.00', '$14.97', '$69.33',
       '$18.48', '$17.70', '$39.97', '$17.82', '$9.59', '$15.86',
       '$27.96', '$10.14', '$12.00', '$9.90', '$98.79', '$7.50', '$28.91',
       '$5.12', '$12.14', '$195.95', '$9.45', '$19.00', '$19.98',
       '$49.97', '$16.00', '$13.37', '$12.29', '$20.51', '$29.49',
       '$16.24', '$49.95', '$281.15', '$14.00', '$27.00', '$5.86',
       '$492.99', '$29.89', '$38.49', '$87.99', '$14.40', '$2.23',
       '$8.24', '$10.45', '$19.80', '$10.35', '$8.95', '$27.99',
       '$199.95', '$16.82', '$51.19', '$19.90', '$14.23', '$22.99',
       '$9.97', '$18.40', '$29.05', '$28.30', '$24.59', '$9.47', '$5.78',
       '$14.41', '$7.45', '$71.94', '$19.75', '$2.99', '$47.01', '$8.59',
       '$21.00', '$18.84', '$17.45', '$13.65', '$6.79', '$10.66', '$3.20',
       '$34.99', '$46.49', '$5.82', '$7.39', '$34.34', '$19.86', '$3.77',
       '$12.79', '$19.55', '$5.85', '$136.43', '$9.26', '$10.27',
       '$25.32', '$22.13', '$8.97', '$5.93', '$18.35', '$7.19', '$18.44',
       '$26.93', '$15.26', '$10.37', '$14.95 $ 14 . 95', '$109.85',
       '$9.01', '$63.49', '$4.27', '$45.74', '$16.80', '$19.13', '$11.96',
       '$20.00', '$22.16', '$17.53', '$15.94', '& FREE Shipping. Details',
       '$15.49', '$7.21', 'Currently unavailable.', '$3.97', '$25.63',
       '$28.92', '$5.67', '$13.83', '$33.55', '$15.01', '$11.67',
       '$10.97', '$22.49', '$18.93', '$9.74', '$34.23', '$13.69',
       '$10.03', '$7.95', '$21.18', '$7.59', '$18.91', 'Total price:',
       '$7.93', '$37.99', '$10.79', '$3.99', '$10.19', '$12.57', '$14.05',
       '$17.50', '$26.35', '$24.15', '$18.59', '$13.86', '$36.12',
       '$14.39', '$19.62', '$38.71', '$19.19', '$6.07', '$4.49', '$7.00',
       '$45.05', '$14.74', '$1,079.37', '$14.93', '$30.00', '$6.95',
       '$6.19', '$30.26', '$45.30', '$19.40', '$22.17', '$11.89',
       '$19.70', '$40.64', '$33.45', '$18.25', '$109.99', '$24.46',
       '$10.91', '$33.64', '$10.00', '$36.43', '$17.19', '$15.54',
       '$65.70', '$24.65', '$31.30', '$6.53', '$14.10', '$15.36',
       '$51.00', '$45.76', '$74.95', '$152.62', '$25.33', '$104.97',
       '$125.00', '$7.73', '$23.21', '$12.30', '$10.92', '$29.99',
       '$52.76', '$44.06', '$14.99 $ 14 . 99', '$11.78', '$31.08',
       '$11.00', '$26.98', '$54.95', '$347.97', '$89.00', '$18.71',
       '$89.92', '$28.25', '$43.81', '$23.48', '$24.95', '$18.85',
       '$4.42', '$9.52', '$41.99', '$8.74', '$11.92', '$13.00', '$41.07',
       '$31.38', '$14.19', '$30.33', '$5.50', '$12.97', '$22.98',
       '$17.80', '$15.32', '$20.19', '$28.05', '$81.58', '$41.97',
       '$16.32', '$20.99', '$32.99', '$13.52', '$48.99', '$14.94',
       '$99.98', '$470.00', '$49.47', '$14.54', '$14.62', '$12.67',
       '$11.98', '$21.21', '$5.62', '$33.23', '$31.18', '$18.78',
       '$15.29', '$31.99', '$19.58', '$8.49', '$14.69', '$40.53',
       '$12.71', '$34.83', '$49.99', '$15.95', '$32.08', '$11.93',
       '$32.30', '$28.11', '$53.00', '$3.24', '$6.27', '$4.69', '$11.50',
       '$16.29', '$6.54', '$29.69', '$19.69', '$11.60', '$31.94',
       '$24.30', '$15.59', '$23.93', '$29.16', '$6.40', '$13.76',
       '$19.49', '$18.00', '$29.39', '$15.73', '$33.05', '$34.88',
       '$13.97', '$6.57', '$23.41', '$9.00', '$34.98', '$30.32', '$20.17',
       '$27.50', '$37.58', '$17.09', '$28.95', '$22.37', '$11.91',
       '$14.91', '$8.99', '$10.84', '$352.58', '$9.75', '$15.88',
       '$91.00', '$18.49', '$19.10', '$4.19', '$94.99', '$21.95', '$9.38',
       '$10.44', '$14.49', '$7.15', '$18.07', '$32.68', '$21.58', '$4.35',
       '$8.45', '$15.62', '$19.87', '$4.24', '$3.91', '$206.89', '$34.03',
       '$15.83', '$15.25', '$11.65', '$35.24', '$35.73', '$62.03',
       '$12.74', '$16.89', '$11.85', '$5,332.00', '$11.95', '$17.26',
       '$10.83', '$5.81', '$10.31', '$35.33', '$13.19', '$14.65',
       '$23.94', '$7.82', '$18.63', '$13.78', '$28.99', '$45.99',
       '$14.53', '$13.66', '$34.45', '$22.51', '$28.01', '$48.45',
       '$15.83 $15.83', '$42.40', '$32.29', '$29.98', '$189.99', '$46.19',
       '$10.07', '$194.93', '$24.97', '$29.76', '$15.90', '$22.58',
       '$19.91', '$14.57', '$493.00', '$44.32', '$20.31',
       '$7.00 $ 7 . 00', '$23.51', '$19.84', '$15.27', '$8.54', '$99.57',
       '$9.01 $ 9 . 01', '$15.16', '$30.89', '$23.49', '$17.59', '$59.99',
       '$2.50', '$559.99', '$32.49', '$9.07', '$44.99', '$20.62',
       '$23.11', '$29.71', '$8.67', '$16.44', '$24.22', '$23.55',
       '$50.36', '$12.98', '$30.78', '$8.88', '$16.25', '$69.99',
       '$20.50', '$22.38', '$15.96', '$16.95', '$8.39', '$12.95',
       '$32.00', '$22.12', '$115.59', '$6.83', '$82.16', '$63.17',
       '$4.20', '$12.60', '$15.68', '$98.00', '$24.54', '$22.72',
       '$59.59', '$18.64', '$4.83', '$16.36', '$11.37', '$121.00',
       '$25.50', '$33.54', '$872.00', '$11.43', '$20.75', '$101.58',
       '$18.89', '$13.47', '$21.80', '$8.57', '$23.00', '$9.14', '$32.98',
       '$27.55', '$16.74', '$48.78', '$46.04', '$353.00',
       '$1.99 $ 1 . 99', '$130.19', '$11.45', '$15.38', '$9.49', '$23.58',
       '$25.99', '$4.50', '$51.34', '$770.01', '$67.46', '$11.34',
       '$15.22', '$405.00', '$8.61', '$54.31', '$12.49 $ 12 . 49',
       '$32.85', '$8.26', '$29.99 $29.99', '$9.41', '$68.95', '$9.27',
       '$349.41', '$104.44', '$5.39', '$22.43', '$106.94', '$160.00',
       '$17.47', '$179.99', '$11.41', '$6.90', '$31.97', '$6.00', '$7.12',
       '$18.82', '$501.34', '$81.83', '$10.58', '$355.00',
       '$4.69 $ 4 . 69', '$8.98', '$38.93', '$82.89', '$39.83', '$239.31',
       '$18.79', '$232.95', '$18.95', '$16.98', '$22.71', '$5.56',
       '$14.98', '$145.54', '$6.62', '$327.79', '$64.55', '$31.93',
       '$7.29', '$100.00', '$12.41', '$11.59', '$28.13 $ 28 . 13',
       '$8.17', '$23.73', '$24.88', '$5.61', '$44.55', '$12.25', '$26.38',
       '$51.35', '$27.90', '$4.97', '$17.71', '$108.21', '$35.50',
       '$73.59', '$8.64', '$12.45', '$20.04', '$5.99 $ 5 . 99', '$4.59',
       '$8.15', '$4.78', '$56.74', '$16.71', '$55.99', '$79.99',
       '$39.99 $ 39 . 99', '$19.97', '$12.89 $ 12 . 89', '$107.00',
       '$37.95', '$89.40', '$25.47', '$11.75', '$37.01', '$39.95',
       '$7.75', '$10.22', '$28.55', '$18.94', '$70.70', '$63.81',
       '$33.48', '$7.36', '$79.95', '$14.81', '$13.92', '$51.80',
       '$10.34', '$335.00', '$24.77', '$99.00', '$47.22', '$8.86',
       '$25.95', '$39.15', '$30.51', '$15.70', '$32.34', '$13.72',
       '$313.25', '$10.49', '$8.23', '$32.67', '$12.21', '$6.80',
       '$16.50', '$62.99', '$14.52', '$19.68', '$24.00',
       '$16.45 $ 16 . 45', '$65.53', '$12.75', '$40.36', '$21.19',
       '$8.40', '$10.56', '$164.95', '$62.98', '$9.89', '$10.24',
       '$10.95', '$8.83', '$33.86', '$29.97', '$15.45', '$147.39',
       '$20.76', '$4.38 $ 4 . 38', '$46.99', '$30.67', '$75.79', '$8.25',
       '$5.70 $ 5 . 70', '$3.95', '$19.05', '$9.31'], dtype=object)

Seems like we'll have to clean up the prices before we can convert them to float

Set a pattern for wich prices are valid

In [38]:
df2 = df2.loc[df2["Selling Price"].str.contains("^\$[0-9]+?.[0-9]+?$",
                                          regex=True, flags=re.I)]

In [39]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1239 entries, 1 to 9999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product Name   1239 non-null   object
 1   Category       1239 non-null   object
 2   Selling Price  1239 non-null   object
 3   Product Url    1239 non-null   object
 4   Sub-Category   1239 non-null   object
dtypes: object(5)
memory usage: 58.1+ KB

In [40]:
# finally convert to float
df2["Selling Price"] = df2["Selling Price"].apply(lambda x: float(x.split()[0][1:]))

In [41]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1239 entries, 1 to 9999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product Name   1239 non-null   object
 1   Category       1239 non-null   object
 2   Selling Price  1239 non-null   float64
 3   Product Url    1239 non-null   object
 4   Sub-Category   1239 non-null   object
dtypes: float64(1), object(4)
memory usage: 58.1+ KB

Last but not least, let's shorten the URLs

In [42]:
# using the same old function
# df2["Product Url"] = df2["Product Url"].apply(lambda x: shorten_url(x))

In [43]:
df2.reset_index(drop=True, inplace=True)

In [44]:
df2.tail()

,Product Name,Category,Selling Price,Product Url,Sub-Category
1234,Green Couch Games Filler Game,Toys & Games,15.00,https://www.amazon.com/Green-Couch-Games-Fille...,Games & Accessories
1235,Dominion: Menagerie,Toys & Games,44.95,https://www.amazon.com/Rio-Grande-Games-Domini...,Games & Accessories
1236,Sax True Flow Spectrum Watercolor Paint Brushe...,Industrial & Scientific,19.05,https://www.amazon.com/Sax-Spectrum-Watercolor...,Science Education
1237,Remedia Publications REM536B Money Activity Bo...,Toys & Games,9.31,https://www.amazon.com/Remedia-Publications-RE...,Learning & Education
1238,NewPath Learning 10 Piece Science Owls and Owl...,Office Products,37.95,https://www.amazon.com/NewPath-Learning-Scienc...,Office & School Supplies

*File 3*

In [45]:
file3 = "/home/rohkoder29/Documents/year2022/python/data_science/cif_sales_analysis/data/data.xlsx"
cols = ["Category", "Sub-Category", "Product Name", "Sales", "Quantity"]
df3 = pd.read_excel(file3, index_col=False, usecols=cols)

In [46]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3312 entries, 0 to 3311
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Category      3312 non-null   object
 1   Sub-Category  3312 non-null   object
 2   Product Name  3312 non-null   object
 3   Sales         3312 non-null   float64
 4   Quantity      3312 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 129.5+ KB

Cool, no missing values.

In [47]:
df3.head()

,Category,Sub-Category,Product Name,Sales,Quantity
0,Office Supplies,Paper,Xerox 1967,15.552,3
1,Furniture,Chairs,"Global Deluxe Stacking Chair, Gray",71.372,2
2,Office Supplies,Paper,Easy-staple paper,29.472,3
3,Technology,Phones,Panasonic Kx-TS550,147.168,4
4,Office Supplies,Storage,"Advantus 10-Drawer Portable Organizer, Chrome ...",95.616,2

In [48]:
df3["Category"].unique()

array(['Office Supplies', 'Furniture', 'Technology'], dtype=object)

In [49]:
df3["Sub-Category"].unique()

array(['Paper', 'Chairs', 'Phones', 'Storage', 'Binders', 'Furnishings',
       'Accessories', 'Labels', 'Art', 'Fasteners', 'Envelopes',
       'Appliances', 'Tables', 'Copiers', 'Bookcases', 'Supplies',
       'Machines'], dtype=object)

We don't need the Furniture category, so we drop it

In [50]:
df3 = df3.loc[df3["Category"].isin(["Office Supplies", "Technology"])]

In [51]:
df3.tail()

,Category,Sub-Category,Product Name,Sales,Quantity
3306,Technology,Accessories,Logitech G430 Surround Sound Gaming Headset wi...,79.990,1
3307,Technology,Phones,Panasonic KX - TS880B Telephone,206.100,5
3309,Technology,Phones,Aastra 57i VoIP phone,258.576,2
3310,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4
3311,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2

In fact we could get the price for each product, given we have sales and quantity

In [52]:
df3["Unit_Price"] = df3["Sales"] / df3["Quantity"]

In [53]:
df3.tail()

,Category,Sub-Category,Product Name,Sales,Quantity,Unit_Price
3306,Technology,Accessories,Logitech G430 Surround Sound Gaming Headset wi...,79.990,1,79.990
3307,Technology,Phones,Panasonic KX - TS880B Telephone,206.100,5,41.220
3309,Technology,Phones,Aastra 57i VoIP phone,258.576,2,129.288
3310,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,7.400
3311,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,121.580

Now that we've got our DFs it's time for some cleaning.

### Step 3. Clean & Accomodate the DFs

Sub-steps:<br>
- [ADD A SUB_CATEGORY FEATURE IN ALL DFs]
- In DF1, replace the `brand` column by a `Sub_Category` one [with value = "Phones" so it matches the existing one in other DFs] and rename the `title` column to `Product_Name` and add `Quantity` and `Sales` column that we'll fill in later on
- DF2 is almost okay, again we need to take care of the `Quantity` add `Sales` features
- In DF3 we rearrange the columns order and add a `Product_URL` column at the end

*DF1*

In [54]:
df1.head(1)

,brand,title,url,prices
0,Samsung,"Samsung Galaxy Express, Gray 8GB",https://www.amazon.com/Samsung-Galaxy-Express-...,389.28

In [55]:
df1["brand"] = df1["brand"].apply(lambda x: x.replace(x, "Phones"))

Rename and reindex the columns to match main DF

In [56]:
df1.rename(columns={"brand": "Sub_Category",
                    "title": "Product_Name",
                    "prices": "Unit_Price",
                    "url": "Product_URL"}, inplace=True)

In [57]:
df1 = df1.reindex(columns=["Category", "Sub_Category", "Product_Name", "Unit_Price", "Quantity", "Sales", "Product_URL"])

In [58]:
df1["Category"] = df1["Category"].astype(np.str0)

In [59]:
df1["Category"] = df1["Category"].apply(lambda x: x.replace(x, "Electronics"))

In [60]:
df1.head(1)

,Category,Sub_Category,Product_Name,Unit_Price,Quantity,Sales,Product_URL
0,Electronics,Phones,"Samsung Galaxy Express, Gray 8GB",389.28,NaN,NaN,https://www.amazon.com/Samsung-Galaxy-Express-...

*DF2*

In [61]:
df2.head(1)

,Product Name,Category,Selling Price,Product Url,Sub-Category
0,"Electronic Snap Circuits Mini Kits Classpack, ...",Toys & Games,99.95,https://www.amazon.com/Electronic-Circuits-Cla...,Learning & Education

Rename and reindex the columns to match main DF

In [62]:
df2.rename(columns={"Product Name": "Product_Name",
                    "Selling Price": "Unit_Price",
                    "Product Url": "Product_URL",
                    "Sub-Category": "Sub_Category"}, inplace=True)

In [63]:
df2 = df2.reindex(columns=["Category", "Sub_Category", "Product_Name", "Unit_Price", "Quantity", "Sales", "Product_URL"])

In [64]:
df2.head(1)

,Category,Sub_Category,Product_Name,Unit_Price,Quantity,Sales,Product_URL
0,Toys & Games,Learning & Education,"Electronic Snap Circuits Mini Kits Classpack, ...",99.95,NaN,NaN,https://www.amazon.com/Electronic-Circuits-Cla...

*DF3*

In [65]:
df3.head()

,Category,Sub-Category,Product Name,Sales,Quantity,Unit_Price
0,Office Supplies,Paper,Xerox 1967,15.552,3,5.184
2,Office Supplies,Paper,Easy-staple paper,29.472,3,9.824
3,Technology,Phones,Panasonic Kx-TS550,147.168,4,36.792
4,Office Supplies,Storage,"Advantus 10-Drawer Portable Organizer, Chrome ...",95.616,2,47.808
5,Office Supplies,Paper,Telephone Message Books with Fax/Mobile Sectio...,19.050,3,6.350

In [66]:
# let's change Technology to Electronics
df3["Category"] = df3["Category"].apply(lambda x: x.replace("Technology", "Electronics"))

Rename and reindex the columns to match main DF

NOTE: I think I'm gonna keep the Sub-Category feature, and accomodate the other DFs later on.

In [67]:
# rename Product Name
df3.rename(columns={"Product Name": "Product_Name",
                    "Sub-Category": "Sub_Category"}, inplace=True)

In [68]:
df3 = df3.reindex(columns=["Category", "Sub_Category", "Product_Name", "Unit_Price", "Quantity", "Sales", "Product_URL"])

In [69]:
df3.head()

,Category,Sub_Category,Product_Name,Unit_Price,Quantity,Sales,Product_URL
0,Office Supplies,Paper,Xerox 1967,5.184,3,15.552,NaN
2,Office Supplies,Paper,Easy-staple paper,9.824,3,29.472,NaN
3,Electronics,Phones,Panasonic Kx-TS550,36.792,4,147.168,NaN
4,Office Supplies,Storage,"Advantus 10-Drawer Portable Organizer, Chrome ...",47.808,2,95.616,NaN
5,Office Supplies,Paper,Telephone Message Books with Fax/Mobile Sectio...,6.350,3,19.050,NaN

Sweet!

In [70]:
df1.tail(1)

,Category,Sub_Category,Product_Name,Unit_Price,Quantity,Sales,Product_URL
160,Electronics,Phones,Samsung Galaxy S9,519.99,NaN,NaN,https://www.amazon.com/Samsung-Galaxy-S9-Displ...

In [71]:
df2.tail(1)

,Category,Sub_Category,Product_Name,Unit_Price,Quantity,Sales,Product_URL
1238,Office Products,Office & School Supplies,NewPath Learning 10 Piece Science Owls and Owl...,37.95,NaN,NaN,https://www.amazon.com/NewPath-Learning-Scienc...

In [72]:
df3.tail(1)

,Category,Sub_Category,Product_Name,Unit_Price,Quantity,Sales,Product_URL
3311,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",121.58,2,243.16,NaN

Quick notice: in DF2 the category is "Office Products" whereas in DF3 it is "Office Supplies", let's change the former to the latter

In [73]:
df2["Category"] = df2["Category"].apply(lambda x: x.replace("Office Products", "Office Supplies"))

- So far so good. Now let's combine them!

In [74]:
df4 = pd.concat([df1, df2, df3], ignore_index=True).sort_values(by=["Category"]).reset_index(drop=True)

In [75]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4026 entries, 0 to 4025
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Category      4026 non-null   object
 1   Sub_Category  4026 non-null   object
 2   Product_Name  4026 non-null   object
 3   Unit_Price    4026 non-null   float64
 4   Quantity      2626 non-null   float64
 5   Sales         2626 non-null   float64
 6   Product_URL   1400 non-null   object
dtypes: float64(3), object(4)
memory usage: 220.3+ KB

*How cool is that? [in Craig Fedherighi voice]*

In [76]:
df4.head()

,Category,Sub_Category,Product_Name,Unit_Price,Quantity,Sales,Product_URL
0,Beauty & Personal Care,Tools & Accessories,Rubies Black Eyelashes and Adhesive,7.15,NaN,NaN,https://www.amazon.com/Rubies-Black-Eyelashes-...
1,Cell Phones & Accessories,Accessories,Disney Mickey Mouse Ice Cream D-Lish Treats Ph...,8.25,NaN,NaN,https://www.amazon.com/Disney-Mickey-Mouse-D-L...
2,Electronics,Phones,"Samsung Galaxy Express, Gray 8GB",389.28,NaN,NaN,https://www.amazon.com/Samsung-Galaxy-Express-...
3,Electronics,Phones,Apple iPhone 5,649.83,2.0,1299.66,NaN
4,Electronics,Accessories,SanDisk Cruzer 64 GB USB Flash Drive,36.32,2.0,72.64,NaN

- Replace all missing values in `Unit_Price`, `Quantity` (convert to int) and `Sales` by 0

In [77]:
df4["Unit_Price"].fillna(0, inplace=True)
df4["Quantity"] = df4["Quantity"].fillna(0).astype(np.int8)
df4["Sales"].fillna(0, inplace=True)

In [78]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4026 entries, 0 to 4025
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Category      4026 non-null   object
 1   Sub_Category  4026 non-null   object
 2   Product_Name  4026 non-null   object
 3   Unit_Price    4026 non-null   float64
 4   Quantity      4026 non-null   int8
 5   Sales         4026 non-null   float64
 6   Product_URL   1400 non-null   object
dtypes: float64(2), int8(1), object(4)
memory usage: 192.8+ KB

In [79]:
df4.head()

,Category,Sub_Category,Product_Name,Unit_Price,Quantity,Sales,Product_URL
0,Beauty & Personal Care,Tools & Accessories,Rubies Black Eyelashes and Adhesive,7.15,0,0.00,https://www.amazon.com/Rubies-Black-Eyelashes-...
1,Cell Phones & Accessories,Accessories,Disney Mickey Mouse Ice Cream D-Lish Treats Ph...,8.25,0,0.00,https://www.amazon.com/Disney-Mickey-Mouse-D-L...
2,Electronics,Phones,"Samsung Galaxy Express, Gray 8GB",389.28,0,0.00,https://www.amazon.com/Samsung-Galaxy-Express-...
3,Electronics,Phones,Apple iPhone 5,649.83,2,1299.66,NaN
4,Electronics,Accessories,SanDisk Cruzer 64 GB USB Flash Drive,36.32,2,72.64,NaN

In [80]:
# just to be safe
# df4.to_csv("df4", index=False)

Now we have to combine DF4 with DF

But first let's rename the columns

In [81]:
old_cols = df.columns.tolist()
new_cols = [column.replace(" ", "_") for column in old_cols]

In [82]:
df.rename(columns=dict(zip(old_cols, new_cols)), inplace=True)

In [83]:
df

Empty DataFrame
Columns: [Purchase_ID, Purchase_Datetime, Product_ID, Category, Sub_Category, Product_Name, Unit_Price, Quantity, Sales, Payment_Method, Online, Shipping_Address, Shipping_Method, Product_URL]
Index: []

In [84]:
df5 = pd.concat([df, df4], ignore_index=True)

#### Now let's work with DF5

In [85]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4026 entries, 0 to 4025
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Purchase_ID        0 non-null      object
 1   Purchase_Datetime  0 non-null      object
 2   Product_ID         0 non-null      object
 3   Category           4026 non-null   object
 4   Sub_Category       4026 non-null   object
 5   Product_Name       4026 non-null   object
 6   Unit_Price         4026 non-null   object
 7   Quantity           4026 non-null   object
 8   Sales              4026 non-null   object
 9   Payment_Method     0 non-null      object
 10  Online             0 non-null      object
 11  Shipping_Address   0 non-null      object
 12  Shipping_Method    0 non-null      object
 13  Product_URL        1400 non-null   object
dtypes: object(14)
memory usage: 440.5+ KB

In [86]:
df5.head(1)

,Purchase_ID,Purchase_Datetime,Product_ID,Category,Sub_Category,Product_Name,Unit_Price,Quantity,Sales,Payment_Method,Online,Shipping_Address,Shipping_Method,Product_URL
0,NaN,NaN,NaN,Beauty & Personal Care,Tools & Accessories,Rubies Black Eyelashes and Adhesive,7.15,0,0.0,NaN,NaN,NaN,NaN,https://www.amazon.com/Rubies-Black-Eyelashes-...

- Generating data for columns `Purchase_ID`, `Purchase_Datetime`, `Online`, `Payment_Method`, `Shipping_Address`, `Shipping_Method`

*Online*<br>
Consideration: People usually buy goods within a certain price tag online, so we gonna consider only purchases over $69.99 to be elligible.

In order to perform this operation, we need to convert Sales column to float

In [87]:
df5["Sales"] = df5["Sales"].astype(np.float64)

In [88]:
# and keep only two decimals
df5["Sales"] = df5["Sales"].apply(lambda x: float(f"{x:.2f}"))

In [89]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4026 entries, 0 to 4025
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Purchase_ID        0 non-null      object
 1   Purchase_Datetime  0 non-null      object
 2   Product_ID         0 non-null      object
 3   Category           4026 non-null   object
 4   Sub_Category       4026 non-null   object
 5   Product_Name       4026 non-null   object
 6   Unit_Price         4026 non-null   object
 7   Quantity           4026 non-null   object
 8   Sales              4026 non-null   float64
 9   Payment_Method     0 non-null      object
 10  Online             0 non-null      object
 11  Shipping_Address   0 non-null      object
 12  Shipping_Method    0 non-null      object
 13  Product_URL        1400 non-null   object
dtypes: float64(1), object(13)
memory usage: 440.5+ KB

In [90]:
def set_online(row) -> bool:
    return False if row["Sales"] < 69.99 else random.choices([True, False], weights=[.9, .1])[0]

In [91]:
df5["Online"] = df5.apply(lambda x: set_online(x), axis=1)

In [92]:
df5.head()

,Purchase_ID,Purchase_Datetime,Product_ID,Category,Sub_Category,Product_Name,Unit_Price,Quantity,Sales,Payment_Method,Online,Shipping_Address,Shipping_Method,Product_URL
0,NaN,NaN,NaN,Beauty & Personal Care,Tools & Accessories,Rubies Black Eyelashes and Adhesive,7.15,0,0.00,NaN,False,NaN,NaN,https://www.amazon.com/Rubies-Black-Eyelashes-...
1,NaN,NaN,NaN,Cell Phones & Accessories,Accessories,Disney Mickey Mouse Ice Cream D-Lish Treats Ph...,8.25,0,0.00,NaN,False,NaN,NaN,https://www.amazon.com/Disney-Mickey-Mouse-D-L...
2,NaN,NaN,NaN,Electronics,Phones,"Samsung Galaxy Express, Gray 8GB",389.28,0,0.00,NaN,False,NaN,NaN,https://www.amazon.com/Samsung-Galaxy-Express-...
3,NaN,NaN,NaN,Electronics,Phones,Apple iPhone 5,649.83,2,1299.66,NaN,True,NaN,NaN,NaN
4,NaN,NaN,NaN,Electronics,Accessories,SanDisk Cruzer 64 GB USB Flash Drive,36.32,2,72.64,NaN,True,NaN,NaN,NaN

In [93]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4026 entries, 0 to 4025
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Purchase_ID        0 non-null      object
 1   Purchase_Datetime  0 non-null      object
 2   Product_ID         0 non-null      object
 3   Category           4026 non-null   object
 4   Sub_Category       4026 non-null   object
 5   Product_Name       4026 non-null   object
 6   Unit_Price         4026 non-null   object
 7   Quantity           4026 non-null   object
 8   Sales              4026 non-null   float64
 9   Payment_Method     0 non-null      object
 10  Online             4026 non-null   bool
 11  Shipping_Address   0 non-null      object
 12  Shipping_Method    0 non-null      object
 13  Product_URL        1400 non-null   object
dtypes: bool(1), float64(1), object(12)
memory usage: 412.9+ KB

*Product_ID*<br>
Consideration: should contain characters indicating the item's category and sub-category

In [94]:
df5["Category"].unique()

array(['Beauty & Personal Care', 'Cell Phones & Accessories',
       'Electronics', 'Home & Kitchen', 'Industrial & Scientific',
       'Office Supplies', 'Tools & Home Improvement', 'Toys & Games',
       'Video Games'], dtype=object)

In [95]:
def get_cat_ini(category: str) -> str:
    ini = []
    ini.extend(part[0].upper() for part in category.split() if part[0].isalpha())
    return "".join(ini)

In [96]:
df5["Sub_Category"].unique()

array(['Tools & Accessories', 'Accessories', 'Phones', 'Machines',
       'Camera & Photo', 'Copiers', 'Headphones',
       'Portable Audio & Video', 'Computers & Accessories',
       "Kids' Home Store", 'Science Education', 'Binders', 'Paper',
       'Appliances', 'Art', 'Labels', 'Storage', 'Envelopes', 'Fasteners',
       'Supplies', 'Office & School Supplies', 'Office Electronics',
       'Power & Hand Tools', 'Games & Accessories', "Kids' Electronics",
       'Learning & Education', "Kids' Furniture, Décor & Storage",
       'Xbox One', 'Nintendo Switch', 'PC', 'Legacy Systems'],
      dtype=object)

*Well, while we're at it, I think products like Xbox One and Nintendo Switch should be placed under a `Console & Accessories` sub-category*

In [97]:
df5.loc[df5["Sub_Category"].str.contains("xbox|nintendo", case=False, regex=True), ["Sub_Category"]] = "Console & Accessories"

In [98]:
df5["Sub_Category"].unique()

array(['Tools & Accessories', 'Accessories', 'Phones', 'Machines',
       'Camera & Photo', 'Copiers', 'Headphones',
       'Portable Audio & Video', 'Computers & Accessories',
       "Kids' Home Store", 'Science Education', 'Binders', 'Paper',
       'Appliances', 'Art', 'Labels', 'Storage', 'Envelopes', 'Fasteners',
       'Supplies', 'Office & School Supplies', 'Office Electronics',
       'Power & Hand Tools', 'Games & Accessories', "Kids' Electronics",
       'Learning & Education', "Kids' Furniture, Décor & Storage",
       'Console & Accessories', 'PC', 'Legacy Systems'], dtype=object)

In [99]:
# este es una locura
df5["Product_ID"] = df5["Category"].apply(lambda x: get_cat_ini(x)) +"-"+ df5["Sub_Category"].apply(lambda x: get_cat_ini(x))

In [100]:
def randomize() -> str:
    return str(uuid.uuid4()).split("-")[-1].upper()

In [101]:
df5["Product_ID"] = df5["Product_ID"].apply(lambda x: f"{x}-{randomize()}")

In [102]:
df5.head()

,Purchase_ID,Purchase_Datetime,Product_ID,Category,Sub_Category,Product_Name,Unit_Price,Quantity,Sales,Payment_Method,Online,Shipping_Address,Shipping_Method,Product_URL
0,NaN,NaN,BPC-TA-595E364B36B8,Beauty & Personal Care,Tools & Accessories,Rubies Black Eyelashes and Adhesive,7.15,0,0.00,NaN,False,NaN,NaN,https://www.amazon.com/Rubies-Black-Eyelashes-...
1,NaN,NaN,CPA-A-AD2CDBF8FB6A,Cell Phones & Accessories,Accessories,Disney Mickey Mouse Ice Cream D-Lish Treats Ph...,8.25,0,0.00,NaN,False,NaN,NaN,https://www.amazon.com/Disney-Mickey-Mouse-D-L...
2,NaN,NaN,E-P-7B472F9085C3,Electronics,Phones,"Samsung Galaxy Express, Gray 8GB",389.28,0,0.00,NaN,False,NaN,NaN,https://www.amazon.com/Samsung-Galaxy-Express-...
3,NaN,NaN,E-P-06BB0F1A9C0B,Electronics,Phones,Apple iPhone 5,649.83,2,1299.66,NaN,True,NaN,NaN,NaN
4,NaN,NaN,E-A-2252DB4688C6,Electronics,Accessories,SanDisk Cruzer 64 GB USB Flash Drive,36.32,2,72.64,NaN,True,NaN,NaN,NaN

*Purchase_Datetime*<br>
From Jan 1, 2020 to Dec 31, 2020 and 00:00 to 23:59 if online, or 00:09 to 21:59 if not

In [103]:
def gen_datetime(row) -> datetime:
    date_start = datetime(2020, 1, 1, 0, 0, 0)
    date_end = datetime(2020, 12, 31, 23, 59, 59)
    if row["Online"] is False:
        date_start = datetime(2020, 1, 1, 8, 0, 0)
        date_end = datetime(2020, 12, 31, 21, 59, 59)
    random_date_time = date_start + (date_end - date_start) * random.random()
    random_date_time = random_date_time.__format__("%Y-%m-%d %H:%M:%S")
    return datetime.strptime(random_date_time, format("%Y-%m-%d %H:%M:%S"))

In [104]:
df5["Purchase_Datetime"] = df5.apply(lambda x: gen_datetime(x), axis=1)

In [105]:
df5.head()

,Purchase_ID,Purchase_Datetime,Product_ID,Category,Sub_Category,Product_Name,Unit_Price,Quantity,Sales,Payment_Method,Online,Shipping_Address,Shipping_Method,Product_URL
0,NaN,2020-11-13 23:00:27,BPC-TA-595E364B36B8,Beauty & Personal Care,Tools & Accessories,Rubies Black Eyelashes and Adhesive,7.15,0,0.00,NaN,False,NaN,NaN,https://www.amazon.com/Rubies-Black-Eyelashes-...
1,NaN,2020-07-14 11:24:38,CPA-A-AD2CDBF8FB6A,Cell Phones & Accessories,Accessories,Disney Mickey Mouse Ice Cream D-Lish Treats Ph...,8.25,0,0.00,NaN,False,NaN,NaN,https://www.amazon.com/Disney-Mickey-Mouse-D-L...
2,NaN,2020-03-18 13:04:50,E-P-7B472F9085C3,Electronics,Phones,"Samsung Galaxy Express, Gray 8GB",389.28,0,0.00,NaN,False,NaN,NaN,https://www.amazon.com/Samsung-Galaxy-Express-...
3,NaN,2020-03-05 22:57:56,E-P-06BB0F1A9C0B,Electronics,Phones,Apple iPhone 5,649.83,2,1299.66,NaN,True,NaN,NaN,NaN
4,NaN,2020-07-03 15:20:43,E-A-2252DB4688C6,Electronics,Accessories,SanDisk Cruzer 64 GB USB Flash Drive,36.32,2,72.64,NaN,True,NaN,NaN,NaN

In [106]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4026 entries, 0 to 4025
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Purchase_ID        0 non-null      object
 1   Purchase_Datetime  4026 non-null   datetime64[ns]
 2   Product_ID         4026 non-null   object
 3   Category           4026 non-null   object
 4   Sub_Category       4026 non-null   object
 5   Product_Name       4026 non-null   object
 6   Unit_Price         4026 non-null   object
 7   Quantity           4026 non-null   object
 8   Sales              4026 non-null   float64
 9   Payment_Method     0 non-null      object
 10  Online             4026 non-null   bool
 11  Shipping_Address   0 non-null      object
 12  Shipping_Method    0 non-null      object
 13  Product_URL        1400 non-null   object
dtypes: bool(1), datetime64[ns](1), float64(1), object(11)
memory usage: 412.9+ KB

In [107]:
df5.to_pickle("df5")

*Purchase_ID*<br>
Depends on `Purchase_Datetime` and `Online`<br>
Format: [100-999][datetime][online][100-999]

In [108]:
# concatenate Datetime
def conca_datetime(row):
    conca = []
    conca.extend(i for i in row if i.isdigit())
    return "".join(conca)

In [109]:
# add Online id
def add_online(row):
    return "O" if row["Online"] else "P"

In [110]:
def set_purchase_id(row) -> str:
    return f"{random.randint(100, 999)}{add_online(row)}{conca_datetime(str(row['Purchase_Datetime']))}{random.randint(100, 999)}"

In [111]:
df5["Purchase_ID"] = df5.apply(lambda x: set_purchase_id(x), axis=1)

In [112]:
df5.head()

,Purchase_ID,Purchase_Datetime,Product_ID,Category,Sub_Category,Product_Name,Unit_Price,Quantity,Sales,Payment_Method,Online,Shipping_Address,Shipping_Method,Product_URL
0,116P20201113230027405,2020-11-13 23:00:27,BPC-TA-595E364B36B8,Beauty & Personal Care,Tools & Accessories,Rubies Black Eyelashes and Adhesive,7.15,0,0.00,NaN,False,NaN,NaN,https://www.amazon.com/Rubies-Black-Eyelashes-...
1,412P20200714112438561,2020-07-14 11:24:38,CPA-A-AD2CDBF8FB6A,Cell Phones & Accessories,Accessories,Disney Mickey Mouse Ice Cream D-Lish Treats Ph...,8.25,0,0.00,NaN,False,NaN,NaN,https://www.amazon.com/Disney-Mickey-Mouse-D-L...
2,284P20200318130450913,2020-03-18 13:04:50,E-P-7B472F9085C3,Electronics,Phones,"Samsung Galaxy Express, Gray 8GB",389.28,0,0.00,NaN,False,NaN,NaN,https://www.amazon.com/Samsung-Galaxy-Express-...
3,210O20200305225756148,2020-03-05 22:57:56,E-P-06BB0F1A9C0B,Electronics,Phones,Apple iPhone 5,649.83,2,1299.66,NaN,True,NaN,NaN,NaN
4,514O20200703152043999,2020-07-03 15:20:43,E-A-2252DB4688C6,Electronics,Accessories,SanDisk Cruzer 64 GB USB Flash Drive,36.32,2,72.64,NaN,True,NaN,NaN,NaN

*Payment_Method*<br>
Accepted:<br>
Cards [Credit + Debit]: American Express, Visa, MasterCard, Discover<br>
Digital: PayPal<br>
Cash<br>
Consideration: let's say payment for in-person purchase and below 69.99 are Cash, online between 69.99 - 149.99 are most-likely PayPal, online between 149.99 - 249.99 are most-likely either Discover or AE, online between 249.99 - 449.99 are most-likely MasterCard and others are most-likely Visa

In [113]:
payment = ["AMEX", "Visa", "MasterCard", "Discover", "PayPal"]

In [114]:
def set_pay_method(row):
    if not row["Online"] and (row['Sales'] > 0.00 and row['Sales'] < 66.99):
        return "Cash"
    elif row['Sales'] >= 66.99 and row['Sales'] < 149.99:
        return (random.choices(["Discover", "PayPal"], weights=[.3, .7]))[0]
    elif row['Sales'] >= 149.99 and row['Sales'] < 349.99:
        return (random.choices(payment, weights=[.35, .1, .1, .35, .1]))[0]
    elif row['Sales'] >= 349.99 and row['Sales'] < 549.99:
        return (random.choices(payment, weights=[.225, .25, .25, .225, .05]))[0]
    elif row['Sales'] >= 549.99 and row['Sales'] < 999.99:
        return (random.choices(payment, weights=[.125, .34, .4, .125, .01]))[0]
    elif row['Sales'] > 999.99:
        return (random.choices(payment, weights=[.125, .4, .34, .125, .01]))[0]

In [115]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4026 entries, 0 to 4025
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Purchase_ID        4026 non-null   object
 1   Purchase_Datetime  4026 non-null   datetime64[ns]
 2   Product_ID         4026 non-null   object
 3   Category           4026 non-null   object
 4   Sub_Category       4026 non-null   object
 5   Product_Name       4026 non-null   object
 6   Unit_Price         4026 non-null   object
 7   Quantity           4026 non-null   object
 8   Sales              4026 non-null   float64
 9   Payment_Method     0 non-null      object
 10  Online             4026 non-null   bool
 11  Shipping_Address   0 non-null      object
 12  Shipping_Method    0 non-null      object
 13  Product_URL        1400 non-null   object
dtypes: bool(1), datetime64[ns](1), float64(1), object(11)
memory usage: 412.9+ KB

In [116]:
df5["Payment_Method"] = df5.apply(lambda x: set_pay_method(x), axis=1)

In [117]:
df5.head()

,Purchase_ID,Purchase_Datetime,Product_ID,Category,Sub_Category,Product_Name,Unit_Price,Quantity,Sales,Payment_Method,Online,Shipping_Address,Shipping_Method,Product_URL
0,116P20201113230027405,2020-11-13 23:00:27,BPC-TA-595E364B36B8,Beauty & Personal Care,Tools & Accessories,Rubies Black Eyelashes and Adhesive,7.15,0,0.00,None,False,NaN,NaN,https://www.amazon.com/Rubies-Black-Eyelashes-...
1,412P20200714112438561,2020-07-14 11:24:38,CPA-A-AD2CDBF8FB6A,Cell Phones & Accessories,Accessories,Disney Mickey Mouse Ice Cream D-Lish Treats Ph...,8.25,0,0.00,None,False,NaN,NaN,https://www.amazon.com/Disney-Mickey-Mouse-D-L...
2,284P20200318130450913,2020-03-18 13:04:50,E-P-7B472F9085C3,Electronics,Phones,"Samsung Galaxy Express, Gray 8GB",389.28,0,0.00,None,False,NaN,NaN,https://www.amazon.com/Samsung-Galaxy-Express-...
3,210O20200305225756148,2020-03-05 22:57:56,E-P-06BB0F1A9C0B,Electronics,Phones,Apple iPhone 5,649.83,2,1299.66,Visa,True,NaN,NaN,NaN
4,514O20200703152043999,2020-07-03 15:20:43,E-A-2252DB4688C6,Electronics,Accessories,SanDisk Cruzer 64 GB USB Flash Drive,36.32,2,72.64,Discover,True,NaN,NaN,NaN

*Shipping_Address*<br>
Only where Online is True<br>
We gonna just go ahead and use `Faker` for this task.

In [118]:
fake = Faker(locale="en_US.UTF-8")
print(fake.address())

037 Williams Village
Lake Tony, OR 11726

In [119]:
df5.loc[df5["Shipping_Address"] == ""].head()

Empty DataFrame
Columns: [Purchase_ID, Purchase_Datetime, Product_ID, Category, Sub_Category, Product_Name, Unit_Price, Quantity, Sales, Payment_Method, Online, Shipping_Address, Shipping_Method, Product_URL]
Index: []

I also do want some addresses to show up multiple times. So, I'm going to save some addresses in a set and then distribute them over the records (online) in the DF. Say 1 dupes every 4 addresses.

In [120]:
# to calculate how many records
df5["Online"].value_counts()[1]

912

In [121]:
# to calculate how many different addresses to generate
np.uint8(np.ceil(df5["Online"].value_counts()[1] / 4))

228

In [122]:
def gen_addr():
    addrs = []
    count = np.uint8(np.ceil(df5["Online"].value_counts()[1] / 4))
    for _ in range(count):
        addr = " ".join(fake.address().split("\n"))
        while "Box" in addr or "FPO" in addr:
            addr = " ".join(fake.address().split("\n"))
        addrs.append(addr)
    return addrs
addresses = gen_addr()

In [123]:
def gen_addr(row):
    return random.choice(addresses) if row["Online"] else ""

In [124]:
df5["Shipping_Address"] = df5.apply(lambda x: gen_addr(x), axis=1)

In [125]:
df5.loc[df5["Online"]].head()

,Purchase_ID,Purchase_Datetime,Product_ID,Category,Sub_Category,Product_Name,Unit_Price,Quantity,Sales,Payment_Method,Online,Shipping_Address,Shipping_Method,Product_URL
3,210O20200305225756148,2020-03-05 22:57:56,E-P-06BB0F1A9C0B,Electronics,Phones,Apple iPhone 5,649.83,2,1299.66,Visa,True,"488 Ross Knolls New Cynthiashire, IN 57576",NaN,NaN
4,514O20200703152043999,2020-07-03 15:20:43,E-A-2252DB4688C6,Electronics,Accessories,SanDisk Cruzer 64 GB USB Flash Drive,36.32,2,72.64,Discover,True,"0892 Thomas Track Suite 119 North Mark, GA 52991",NaN,NaN
5,672O20200428055718472,2020-04-28 05:57:18,E-A-91E63EDED439,Electronics,Accessories,Logitech Wireless Boombox Speaker - portable -...,106.4,2,212.80,Discover,True,"981 Linda Plains Apt. 504 East Brandontown, MA...",NaN,NaN
6,856O20200616225341793,2020-06-16 22:53:41,E-M-514AFA771511,Electronics,Machines,Okidata B400 Printer,343.2,1,343.20,AMEX,True,"52514 Kevin Springs Apt. 544 Adrianview, DC 17812",NaN,NaN
8,532O20200926092642232,2020-09-26 09:26:42,E-P-EC919031AC36,Electronics,Phones,Wilson Electronics DB Pro Signal Booster,286.4,3,859.20,MasterCard,True,"682 Kathy Dale Apt. 888 Lozanoburgh, NY 35770",NaN,NaN

*Shipping_Method*<br>
Available: Local Pickup, Standard Shipping, Overnight<br>
Overnight method from 449.99

In [126]:
ship_methods = {"Local Pickup", "Standard Shipping", "Overnight"}

In [127]:
def set_ship_method(row):
    if not row["Online"]:
        return ""
    elif row['Sales'] >= 66.99 and row['Sales'] < 449.99:
        return (random.choices(["Local Pickup", "Standard Shipping"], weights=[.3, .7]))[0]
    elif row["Sales"] >= 449.99:
        return (random.choices(list(ship_methods), weights=[.1, .6, .3]))[0]

In [128]:
df5["Shipping_Method"] = df5.apply(lambda x: set_ship_method(x), axis=1)

In [129]:
df5.loc[df5["Online"]].head()

,Purchase_ID,Purchase_Datetime,Product_ID,Category,Sub_Category,Product_Name,Unit_Price,Quantity,Sales,Payment_Method,Online,Shipping_Address,Shipping_Method,Product_URL
3,210O20200305225756148,2020-03-05 22:57:56,E-P-06BB0F1A9C0B,Electronics,Phones,Apple iPhone 5,649.83,2,1299.66,Visa,True,"488 Ross Knolls New Cynthiashire, IN 57576",Overnight,NaN
4,514O20200703152043999,2020-07-03 15:20:43,E-A-2252DB4688C6,Electronics,Accessories,SanDisk Cruzer 64 GB USB Flash Drive,36.32,2,72.64,Discover,True,"0892 Thomas Track Suite 119 North Mark, GA 52991",Local Pickup,NaN
5,672O20200428055718472,2020-04-28 05:57:18,E-A-91E63EDED439,Electronics,Accessories,Logitech Wireless Boombox Speaker - portable -...,106.4,2,212.80,Discover,True,"981 Linda Plains Apt. 504 East Brandontown, MA...",Standard Shipping,NaN
6,856O20200616225341793,2020-06-16 22:53:41,E-M-514AFA771511,Electronics,Machines,Okidata B400 Printer,343.2,1,343.20,AMEX,True,"52514 Kevin Springs Apt. 544 Adrianview, DC 17812",Standard Shipping,NaN
8,532O20200926092642232,2020-09-26 09:26:42,E-P-EC919031AC36,Electronics,Phones,Wilson Electronics DB Pro Signal Booster,286.4,3,859.20,MasterCard,True,"682 Kathy Dale Apt. 888 Lozanoburgh, NY 35770",Local Pickup,NaN

We'll have to add a Shipping_Fee feature, and therefore a Total one which will be the sum of Sales and Shipping_Fee.<br>
But for now let's just focus on quantity and sales.

*Quantity*<br>
Consideration: most expensive products are less likely to be purchased in multiples<br>
And given that we already have the prices we can just go and randomly set a quantity, say between 1 and 5, ranging from cheapest to most expensive products.

Let's first convert the Unit_Price column to float

In [130]:
df5["Unit_Price"] = df5["Unit_Price"].astype(np.float64)
# and round the values
df5["Unit_Price"] = df5["Unit_Price"].apply(lambda x: round(x, 2))

In [131]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4026 entries, 0 to 4025
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Purchase_ID        4026 non-null   object
 1   Purchase_Datetime  4026 non-null   datetime64[ns]
 2   Product_ID         4026 non-null   object
 3   Category           4026 non-null   object
 4   Sub_Category       4026 non-null   object
 5   Product_Name       4026 non-null   object
 6   Unit_Price         4026 non-null   float64
 7   Quantity           4026 non-null   object
 8   Sales              4026 non-null   float64
 9   Payment_Method     2626 non-null   object
 10  Online             4026 non-null   bool
 11  Shipping_Address   4026 non-null   object
 12  Shipping_Method    4026 non-null   object
 13  Product_URL        1400 non-null   object
dtypes: bool(1), datetime64[ns](1), float64(2), object(10)
memory usage: 412.9+ KB

In [132]:
df5.loc[df5["Sales"] > 0.00].groupby(["Quantity"]).mean()["Unit_Price"]

Quantity
1     43.556693
2     58.942680
3     51.987424
4     76.967231
5     48.868366
6     39.427919
7     40.066173
8     44.844074
9     44.840313
10    18.353333
11    57.201111
12    54.543333
13    80.880000
14    37.841429
Name: Unit_Price, dtype: float64

So what this [above] basically shows us is the mean unit price for products by quantity

Let's create a new temp DF to keep track of those results

In [133]:
df_q = df5.loc[df5["Sales"] > 0.00].groupby(["Quantity"]).describe()["Unit_Price"]
df_q

,count,mean,std,min,25%,50%,75%,max
Quantity,,,,,,,,
1,257.0,43.556693,96.405231,0.44,5.3400,12.590,40.9900,1039.99
2,597.0,58.942680,155.696377,0.54,4.8900,12.000,48.5800,2399.99
3,590.0,51.987424,166.918509,0.42,4.8075,12.495,45.4800,3499.99
4,325.0,76.967231,296.784095,0.58,5.1800,13.580,48.7800,3499.99
5,361.0,48.868366,110.760264,0.34,4.7700,12.880,39.9900,1016.79
6,149.0,39.427919,97.832067,1.11,4.8100,10.390,25.9800,717.59
7,162.0,40.066173,82.807975,0.59,5.0000,11.605,37.4775,666.25
8,81.0,44.844074,71.011750,1.19,4.5800,11.960,55.6800,300.65
9,64.0,44.840312,73.737722,0.36,4.3700,10.025,38.5775,310.39
10,15.0,18.353333,28.868904,1.11,2.6750,8.390,15.4800,109.95
11,9.0,57.201111,64.712281,6.23,13.9800,33.560,51.1800,179.99
12,3.0,54.543333,58.831310,6.98,21.6500,36.320,78.3250,120.33
13,6.0,80.880000,134.872282,1.04,3.4525,7.055,100.6800,335.99
14,7.0,37.841429,46.478560,0.98,3.6900,15.970,59.4900,121.58

In [134]:
df_q.std()

count     210.026267
mean       15.915205
std        67.833886
min         2.161868
25%         5.128511
50%         8.775126
75%        21.018347
max      1210.887010
dtype: float64

In [135]:
price_qty_tag = {idx: round(val, 2) for idx, val in enumerate(df_q["std"].tolist(), start=1)}
price_qty_tag

{1: 96.41,
 2: 155.7,
 3: 166.92,
 4: 296.78,
 5: 110.76,
 6: 97.83,
 7: 82.81,
 8: 71.01,
 9: 73.74,
 10: 28.87,
 11: 64.71,
 12: 58.83,
 13: 134.87,
 14: 46.48}

In [136]:
df5.loc[df5["Sales"] > 0.00].groupby(["Product_Name"]).count()["Quantity"].sort_values(ascending=False).reset_index()

                               Product_Name  Quantity
0                         Easy-staple paper        16
1                                   Staples        15
2                   Staples in misc. colors        12
3                           Staple envelope        11
4                   Storex Dura Pro Binders         8
...                                     ...       ...
1187        Quality Park Security Envelopes         1
1188  Decoflex Hanging Personal Folder File         1
1189      PureGear Roll-On Screen Protector         1
1190             Project Tote Personal File         1
1191     netTALK DUO VoIP Telephone Service         1

[1192 rows x 2 columns]